* {
    text-decoration: none;
    /* Supprime le soulignement des liens */
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    height: calc(205vh - 115vh);
}

.admin-color {
    background-color: #2682be;
}

.user-color {
    background-color: rgb(30, 149, 149);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.home {
    color: white;
}