h1 {
    font-size: 24px;
    font-weight: bold;
    color: #2682be;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

mat-card {
    max-width: 500px;
    margin: auto;
    padding: 2em;
}

mat-form-field {
    width: 100%;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    margin-left: 10px;
}