
.container {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  background-color: white;
  max-width: 500px;
  margin: auto;
}

.container h1 {
  color: #2682be;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button[mat-raised-button] {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: #2682be;
  color: white;
  border: none;
  margin-top: 20px;
}

button[mat-raised-button]:hover {
  background-color: whitesmoke;
  color: #2682be;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-color: #2682be;
}

mat-datepicker-toggle {
  margin-left: 10px;
}
