.container {
  width: 90%;
  margin: 20px auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #2682be; 
  text-align: center; 
  margin-bottom: 20px;
  text-transform: uppercase; 
}

.filter-container, .filter-input, .slide-toggle input, select {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: white;
}

.mat-slide-toggle-content {
  margin-right: 8px;
  vertical-align: middle;
}

.slide-toggle input {
  flex-grow: 1;
  margin-left: 10px;
}

select {
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
 }

.ajouterBtnDiv {
  position: absolute;
  top: 20px; 
  right: 20px; 
}

.ajouterBtn {
  padding: 10px 20px;
  border: none; 
  border-radius: 10px;
  background-color: #2682be;
  color: white; 
  font-size: 1rem;
  cursor: pointer;
}

.ajouterBtn:hover {
  background-color: whitesmoke; 
  color: black;
  box-shadow: 3px 3px 3px black;
  border : 1px solid #2682be;
}

button.mat-button {
  margin: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.mat-icon-button {
  border: none;
  background-color: transparent;
}

.mat-icon-button .mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-icon-button[disabled] {
  color: rgba(0, 0, 0, 0.26);
}.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 20px 0; 
}

.mat-paginator {
  margin: 0 15px; 
}

.assignment-details {
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  justify-content: space-around;
  align-items: center;
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

.example-element-description {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; 
}

.example-element-description-attribution {
  opacity: 0.5;
}
